[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://git.openembedded.org/meta-openembedded
	branch = kirkstone
[submodule "poky"]
	path = poky
	url = https://git.yoctoproject.org/poky
	branch = kirkstone
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = https://github.com/agherzan/meta-raspberrypi
	branch = kirkstone
